/* .contact-section{} */
.contact-section{}

.contact-section .accordian-container{
    border-radius: 8px;
    opacity: 0.6;
    background: var(--secondary) 0% 0% no-repeat padding-box !important;
    padding: 40px !important;
    width: 90%;
    margin: 60px auto 0px auto !important;
}

.contact-section .info{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-section .info .info-field{
    width: 100%;
    background: var(--lightPink) !important;
    border: none;
    border-radius: 6px;
    color: var(--black);
    padding: 12px 18px;
    margin-bottom: 20px;
}

.contact-section .info textarea{
    resize: none;
    height: 240px;
}

.contact-section .info .info-field::placeholder{
    color: var(--black);
    opacity: .46;
}



@media screen and (max-width: 767px){
    .contact-section .info{
        width: 100%;
    }
    .contact-section .accordian-container{
        width: 100%;
    }
}