.connect{
    margin-top: 50px;
    margin-bottom: -1.5%;
}

.connect .imageDiv img{
    width:100%;
    height:100%;
    margin-left:15%;
}

.connect .textDiv .Book-Chapters,
.connect .textDiv .Book-heading{
    margin-top:20%;
    margin-left:3%;
    font-family: 'Romanson';
    font-size: 40px;
}
.connect .textDiv .Book-Chapters{
    margin-top:0%;
}
.connect .textDiv p{
    margin-left:3%;
    font-family: 'Montserrat';
    
    margin-top:1%;
    margin-right:5%;
}
.connect .textDiv h3{
    font-family: 'Montserrat';
    font-size: 19;
    font-weight: 'SemiBold';
    margin-left:3%;
    margin-top:5%;
}
.ratingClass{
    margin-left:4%;
    margin-top:1%;
}
.reviewCount{
    
    font-family: 'TT Norms';
    font-size: 20px;
}
.connect .textDiv .buyBtn{
    width: 65%;
    height: 51px;
    background: #172C3D;
    border-radius: 6px;
    border: none !important;
    text-transform: uppercase;
    color:white;
    margin: 0px auto;
    font-weight: bold;
    margin-top:5%;
    margin-left:3%;
    margin-bottom: 3%;
}
