.token-section{}

.token-section .evenly-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.token-section .get-content-text{
    width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .token-section .evenly-content .evenly-content-img{
        width: 40% !important;
    }
}

@media screen and (max-width: 767px){
    .token-section .evenly-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }
    .token-section .evenly-content .evenly-content-img{
        width: 100% !important;
    }

    .token-section .get-content-text{
        width: 100%;
    }
}