
.books-class h2{
    margin-top:30px;
    margin-bottom:0px;
    padding:0px;
    font-weight: 400;
    text-align: center;
}
.book-title{
    width: 75%;
    height: 30%;
    background: grey;
    margin-top: 20%;
}
.books-class img{
    margin-top:0px;
    margin-bottom:0px;
}
.book-buy-links{
    width:83%;
    margin-left:17%;
    margin-top: -10%;
    
}
.book-name{
    text-align: left;
    font-size: 16px;
}
.amazon-link:hover{
    color: blue;
    cursor: pointer;
}
.line{
    height:2px;
    width:98%;
    background:gray;
    margin-top:10px;
    margin-bottom: 10px;
}
.book-name-right{
    text-align: right;
    margin-left:10%;
    font-size: 16px;
}

.right-img{
    height:91%;
}
.movinOn-buy{
    margin-top: 16px;
}
.books-h5{
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
.left-book{
    margin-top:4%
}
.book-des{
    width:68%;
    height:370px;
    margin-left:15%;
    margin-top: 2%;
    
}
.book-des p{
    font-size: 14px;
}
.right-links{
    margin-left: 17%;
    margin-top:-10%;
}
@media screen and (min-width: 1200px) and (max-width: 1355px){
    .book-des{
        width:70%;
        height:470px;
        margin-left:15%;
        margin-top: 2%;
        
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .book-buy-links{
        width:100%;
        margin-left:10%;
    }
    .book-des{
        width:80%;
        height:480px;
        margin-left:10%;
        margin-top: 2%;
        
    }
}
@media screen and (max-width: 767px){
    .book-buy-links{
        width:100%;
        position: absolute;
        z-index: 100;
    }
    .movinOn-buy{
        margin-top: 50px;
    }
    .line{
        width:82%;
    }
}
@media screen and (min-width: 375px) and (max-width: 591px) {
    .book-buy-links{
        width:100%;
        margin-left:0%;
    }
    .book-name-right{
        text-align: right;
        margin-left:10%;
        font-size: 14px;
    }
    .book-name{
        text-align: left;
        font-size: 14px;
    }
    .left-line{
        width:95%;
    }
    .book-des{
        width:90%;
        height:480px;
        margin-left:5%;
        margin-top: 2%;
    }
    .right-book-des{
        height:370px;
    }
    .right-book{
        margin-top: 40px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 374px) {
    .book-buy-links{
        width:100%;
        margin-left:0%;
    }
    .book-name-right{
        text-align: right;
        margin-left:55%;
        font-size: 14px;
    }
    .book-name{
        text-align: left;
        font-size: 14px;
    }
    .left-line{
        width:95%;
    }
    .book-des{
        width:90%;
        height:580px;
        margin-left:5%;
        margin-top: 2%;
    }
    .right-book-des{
        height:430px;
    }
    .right-links{
        margin-left: 0px;
    }
    .right-book{
        margin-top: 40px;
        padding-bottom: 20px;
    }
}
