.font-36px{
  font-size: 36px !important;
}

.font-30px{
  font-size: 30px !important;
}

.font-28px{
  font-size: 28px !important;
}

.font-25px{
  font-size: 25px !important;
}

.font-23px{
  font-size: 23px !important;
}

.font-20px{
  font-size: 20px !important;
}

.font-18px{
  font-size: 18px !important;
}

.font-16px{
  font-size: 16px !important;
}

.font-15px{
  font-size: 15px !important;
}

.font-14px{
  font-size: 14px !important;
}

.font-12px{
  font-size: 12px !important;
}

.bg-img-set{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('Assets/images/bg-dashboard.png');
}

.app-flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  
  .app-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  
  .cursor-pointer-sort {
    cursor: pointer;
  }

  .gradient-apply{
    background: var(--lightPurple) !important;
    color: var(--white) !important;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.history-owner{
  border-bottom: 1px solid var(--blueShade);
  width: max-content;
}

@media screen and (max-width: 767px) {

  .history-owner{
    width: 100% !important;
  }

  .margin-features-bottom{
    margin-bottom: 40px !important;
  }

  .font-36px{
    font-size: 30px !important;
  }
  
  .font-30px{
    font-size: 25px !important;
  }
  
  .font-28px{
    font-size: 22px !important;
  }

  .font-25px{
    font-size: 20px !important;
  }
  
  .font-23px{
    font-size: 18px !important;
  }
  
  .font-20px{
    font-size: 17px !important;
  }

  .font-18px{
    font-size: 16px !important;
  }
  
  .font-16px{
    font-size: 15px !important;
  }

  .font-15px{
    font-size: 14px !important;
  }
  
  .font-14px{
    font-size: 13px !important;
  }
  .font-12px{
    font-size: 10px !important;
  }
}